<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102026257242-mfpmenu0hp7cjtroq9m5j0ji0sp4mbg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102026257242-mfpmenu0hp7cjtroq9m5j0ji0sp4mbg6</string>
	<key>API_KEY</key>
	<string>AIzaSyAGn_1VJ8qcq9s4MqSuy08B4vbX2ztbNAw</string>
	<key>GCM_SENDER_ID</key>
	<string>102026257242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication6</string>
	<key>PROJECT_ID</key>
	<string>selcukyavas-8ef50</string>
	<key>STORAGE_BUCKET</key>
	<string>selcukyavas-8ef50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102026257242:ios:146f6144b045e48e7dc963</string>
</dict>
</plist>